<div class="menu-bar menu-wrapper" id="top-menu">
  <label for="mobile-menu-toggle">
    <a class="mobile-menu icon"><i class="fa fa-bars"></i></a>
  </label>
  <input type="checkbox" name="mobile-menu-toggle" id="mobile-menu-toggle" />
  <ul>
    <li class="desktop-menu">
      <a href="/" class="icon"><i class="fa fa-home"></i></a>
    </li>
    <li><a href="/">Home</a></li>
  </ul>
</div>
