<div class="left-sidebar">
  <div class="profile">
    <div class="image"></div>
    <div class="name"><%- username %></div>
    <div class="email"><%- email %></div>
  </div>
  <div class="side-menu-container">
    <a class="side-menu" href="/poet">Dashboard</a>
    <a class="side-menu" href="/poet/comment">Comments</a>
    <a class="side-menu">Media</a>
    <a class="side-menu">Settings</a>
    <a class="side-menu">Account</a>
    <a class="side-menu" href="/poet/logout">Logout</a>
  </div>
</div>
