button {
  cursor: pointer;
}
button:disabled {
  cursor: default;
}
form {
  margin: 2%;
  display: flex;
  flex-direction: column;
}

form > div {
  width: 100%;
  box-shadow: 0 0 8px #999;
  margin: 1vh 0;
}
input {
  outline: none;
}
.post-title > input {
  width: 100%;
  font-size: 28px;
  padding: 5px;
  padding-left: 5%;
  border: none;
  border-bottom: 2px solid #555;
}
.buttons {
  width: 35%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  box-shadow: none;
}
.buttons > button {
  width: 45%;
  font-size: 18px;
  padding: 4px;
  height: 6vh;
  background: #0c4da2;
  color: #fff;
  border: #0c4da2 1px solid;
  border-radius: 6px;
}
.other-information {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: none;
}
.other-information > div {
  width: 49%;
  border: 1px solid #999;
  box-shadow: 0 0 8px #888;
  margin: 5px 0;
}
#category-list,
#tag-list {
  display: flex;
  flex-direction: column;
  max-height: 20vh;
  overflow-y: scroll;
}
.label {
  border-bottom: 1px solid #888;
  font-size: 16px;
  text-align: center;
  padding: 4px;
}

#category-list > div,
#tag-list > div {
  margin: 1% 4%;
}
label {
  display: block;
  position: relative;
  margin: 1%;
  padding-left: 5%;
}
input[type='checkbox'] {
  margin-right: 2%;
}

.category > div {
  display: flex;
  justify-content: center;
}

.category > div > input,
.tag > div > input {
  outline: none;
  border: 0;
  border-bottom: 1px solid #333;
  margin: 1% 4%;
  width: 70%;
  font-size: 18px;
  padding: 1%;
  padding-bottom: 0.5%;
}

.category button,
.tag button {
  width: 10%;
  align-items: center;
  height: 32px;
}

.url {
  display: flex;
  flex-direction: column;
}

.url > input {
  width: 100%;
  padding: 1%;
  font-size: 18px;
  border: none;
  border-bottom: 2px solid #555;
}

.url-availability {
  color: green;
  font-size: 12px;
  font-weight: 200;
  padding: 4px;
  padding-left: 20px;
}
.not-available {
  color: red;
}
